In [1]:
stu1={'maths':90, 'science':70,'social':60, 'english':50,'hindi':60,'telugu':52}
stu2={'maths':90, 'science':70,'social':60, 'english':50,'hindi':60,'telugu':52}
stu3={'maths':90, 'science':70,'social':60, 'english':50,'hindi':60,'telugu':52}
stu4={'maths':90, 'science':70,'social':60, 'english':50,'hindi':60,'telugu':52}
print(stu1)

{'maths': 90, 'science': 70, 'social': 60, 'english': 50, 'hindi': 60, 'telugu': 52}

In [2]:
class Marks:
  def __init__(self,name,hallTicketNo, maths, science, social, english, telugu,hindi):
    self.name=name
    self.hallTicketNo=hallTicketNo
    self.maths=maths
    self.science=science
    self.social=social
    self.english=english
    self.telugu=telugu
    self.hindi=hindi
  def display(self):
    print("Student name is : ", self.name)
    print("Student hall Ticket no is : ", self.hallTicketNo)
    print("Maths :", self.maths)
    print("Science :",self.science)
    print("Social :", self.social)
    print("English :",self.english)
    print("Telugu :", self.telugu)
    print("Hindi :",self.hindi)

stu1=Marks("Akhil","397853",20,50,80,90,30,100)
#stu1.display()

stu2=Marks("Akhila","4567853",70,60,40,10,80,70)
#stu2.display()

In [ ]:
class Marks:
  def __init__(self,name,hallTicketNo, maths, science, social, english, telugu,hindi):
    self.name=name
    self.hallTicketNo=hallTicketNo
    self.maths=maths
    self.science=science
    self.social=social
    self.english=english
    self.telugu=telugu
    self.hindi=hindi
  def display(self):
    print("Student name is : ", self.name)
    print("Student hall Ticket no is : ", self.hallTicketNo)
    print("Maths :", self.maths)
    print("Science :",self.science)
    print("Social :", self.social)
    print("English :",self.english)
    print("Telugu :", self.telugu)
    print("Hindi :",self.hindi)

stu1=Marks("Akhil","397853",20,50,80,90,30,100)
stu1.display()

stu2=Marks("Akhila","4567853",70,60,40,10,80,70)
#stu2.display()